
/* 共通 */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #333;
}
button{
    cursor: pointer;
}
.font-weight-bold{
    font-weight: 900;
}
.bgc-gray{
    background-color: #eee;
}

/* ヘッダー */
header{
    width: 100%;
    height: 5rem;
    background: linear-gradient(black, gray);
}
header h2{
    color: white;
    line-height: 5rem;
    text-align: center;
    font-size: 1.5rem;
}


.w-960{
    max-width: 1100px;
    margin: auto;
}
#main{
    margin-top: 80px;
}

/* トグルボタン */
#toggle-btn{
    max-width: 1100px;
    margin: auto;
    width: 98%;
}
#toggle-btn button{
    border: none;
    padding: 5px 0;
    font-size: 1.3rem;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(#666, #888);    
    color: #fff;
    font-weight: 900;
    width: 200px;
    margin: 0;
    transform: translateX(-3px);
}
#toggle-btn button:nth-child(2){
    background: linear-gradient(#888, #aaa);
    transform: translateX(-6px);
}

/* カード */
#card{
    max-width: 1100px;
    width: 98%;
    margin: auto;
    border: #888 solid 3px;
    border-radius: 0 10px 10px 10px;
}

/* 集計 */
.aggregated_table{
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
}
.aggregated_table p{
    font-size: 1.3rem;
    font-weight: 900;
}
.aggregated_table span{
    font-size: 1rem;
}
.aggregated_table{
    margin-top: 3rem;
}
.aggregated_table table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
}
.aggregated_table th, 
.aggregated_table td{
    padding: 0.5rem 0;
    border: 1px solid #000;
    text-align: center;
    font-size: 1.1rem;
}

/* 検索フォーム */
/* #search{
    display: none;
} */
#main #form{
    background-color: lightgray;
    margin: 2rem auto 3rem auto;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    width: 70%;
    padding: 20px;
}
#main #form form{
    width: 95%;
    margin: auto;
}
#main #form input{
    font-size: 1.2rem;
    height: 2.4rem;
}
#main #form select{
    font-size: 1.4rem;
    height: 2.4rem;
}
#main #form #area select{
    width: 25rem;
}
#main #form #area>select{
    width: 17rem;
    margin-bottom: 1.5rem;
}
#main #form #area input{
    width: 40rem;
}
#main #form #term{
    margin: 2rem 0 0 0;
}
#main #form #term input{
    width: 20rem;
}
#main #form #term div{
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
#main #form #unique,
#main #form #output,
#main #form #adress_blank{
    display: inline-block;
    margin: 2rem 1rem 0 0;
}
#main #form #thander select,
#main #form #precipitation select,
#main #form #wind_speed select,
#main #form #wind_direction select{
    width: 8rem;
}
#main #form #search_button{
    margin: 3rem 0 0 0;
    text-align: center;
}
#main #form #search_button button{
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(47, 10, 182);
    color: white;
    padding: 0.3rem;
    font-weight: 900;
    font-size: 1.6rem;
    width: 7rem;
}
#loading{
    margin: 0;
    text-align: center;
}

/* メッセージ */
#result-msg{
    font-size: 1.3rem;
    margin: 1rem auto;
    width: 95%;
    text-align: center;
}

/* テーブル */
#soler-table{
    margin-top: 3rem;
    width: 98%;
    margin: auto;
    white-space: nowrap;
}
#soler-table table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 130%;
    margin: auto;
    transform: rotateX(180deg);
    margin-top: 30px; 
}
#soler-table div{
    transform: rotateX(180deg);
}
#soler-table th, 
#soler-table td{
    /* padding: 0.5rem 0; */
    border: 1px solid #000;
    text-align: center;
    font-size: 1.0rem;
}

/* ページネーション */
.pagenation{
    text-align: center;
    transform: rotateX(180deg);
}
.pagenation button{
    border: none;
    background-color: white;
    font-weight: 900;
    font-size: 1.1rem;
    margin: 0 20px 50px 20px;
    color: blue;
}
.pagenation button:hover{
    color: black;
    opacity: 0.7;
}